@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    font-size: 0.9rem;
}
/* to get contents to center */
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin-top: 5rem;
    border: 1px solid red;
}
.container > header{
    min-width: 550px;
    border: 1px solid red;
}
.container > header >p{
    color:blue;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}
.container > header > img{
    width:100%;
    margin: 0.5rem 0;
    object-fit: cover;
    height: 200px;
    border-radius: 10px;
}
.container > header > h1{
    font-size: 2rem;
}
.details > ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container1 > h1{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.details{
    background-color: #eee;
    border-radius: 0.8rem;
    padding: 1rem;
    margin: 0.8rem 0;
}
.container1 > h3{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}
.one{
    display: grid;
    gap: 0.2rem;
    grid-template-columns: 1fr 1fr;
}
.one>label{
    font-size: 0.8rem;
}
